.contenedor {
    margin-top: 50px;
    display: flex;
}

.contenido-libros {
    flex: 1;
}

#titulo {
    text-align: center;
}

.texto {
    text-align: center;
}

/* Buscador de productos */
.buscador {
    text-align: center;
    position: relative;
}


#buscador-producto {
    width: 300px;
    height: 40px;
}

/* Contenido Productos */
#listado {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}

.producto {

    width: 200px;
    background-color: #fff;
    padding: 10px;
    align-content: center;
    margin-right: 10px;
    list-style: none;
    cursor: pointer;
}

.producto img {
    width: 80%;
}

.imagen-producto {
    width: 230px;
    height: 230px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.nombre {
    font-size: 16px;
    color: rgb(46, 44, 54);
    padding-bottom: 10px;
}

.precio {
    font-weight: 600;
    font-size: 20px;
}

.favoritos {
    min-width: 500px;
    max-width: 400px;
    border-left: 1px solid #ececec;
    text-align: center;
    padding: 20px 0 0 0;
}

#canasta {
    display: flex;
    flex-wrap: wrap;
}

/* Contenido Producto en canasta */
.libro-free {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.libro-free img {
    width: 150px;
    padding: 25px;
    margin-left: 80px;
}
.libro-free p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
}

.descripcion-producto {
    text-align: left;
    padding: 20px;
}

.boton-eliminar {
    cursor: pointer;
    background-color: darkgreen;
    padding: 5px;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: none;
    border: none;
}

.swal2-image { 
    width: 200px;
    height: 200px;

}